# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
CSAPP/深入理解计算机系统（原书第三版）.pdf
CSAPP/第二章 信息的表示和处理/progs/convert
CSAPP/第二章 信息的表示和处理/progs/showbytes
CSAPP/第二章 信息的表示和处理/progs/.exchange_by_xor.c.swp
CSAPP/第二章 信息的表示和处理/progs/exchange_by_xor
CSAPP/第二章 信息的表示和处理/progs/buggy_tadd_ok
CSAPP/第二章 信息的表示和处理/progs/test_tadd_ok
